# Session_4

In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('hacker.csv')

In [3]:
dataset.head(3)

,id,title,url,num_points,num_comments,author,created_at
0,12224879,Interactive Dynamic Video,http://www.interactivedynamicvideo.com/,386,52,ne0phyte,8/4/2016 11:52
1,10975351,How to Use Open Source and Shut the Fuck Up at...,http://hueniverse.com/2016/01/26/how-to-use-op...,39,10,josep2,1/26/2016 19:30
2,11964716,Florida DJs May Face Felony for April Fools' W...,http://www.thewire.com/entertainment/2013/04/f...,2,1,vezycash,6/23/2016 22:20

In [4]:
dataset['created_at']

0          8/4/2016 11:52
1         1/26/2016 19:30
2         6/23/2016 22:20
3          6/17/2016 0:01
4          9/30/2015 4:12
               ...
20095      8/29/2016 2:22
20096     10/6/2015 14:57
20097       1/2/2016 0:49
20098    12/15/2015 19:32
20099      5/12/2016 1:43
Name: created_at, Length: 20100, dtype: object

In [5]:
type(dataset['created_at'])

pandas.core.series.Series

# to_datetime()

In [6]:
dataset['created_at'] = pd.to_datetime(dataset['created_at'])

In [7]:
dataset.head(3)

,id,title,url,num_points,num_comments,author,created_at
0,12224879,Interactive Dynamic Video,http://www.interactivedynamicvideo.com/,386,52,ne0phyte,2016-08-04 11:52:00
1,10975351,How to Use Open Source and Shut the Fuck Up at...,http://hueniverse.com/2016/01/26/how-to-use-op...,39,10,josep2,2016-01-26 19:30:00
2,11964716,Florida DJs May Face Felony for April Fools' W...,http://www.thewire.com/entertainment/2013/04/f...,2,1,vezycash,2016-06-23 22:20:00

# Skill Test - 1

Extract hours from created_at column

In [8]:
dataset['created_at']

0       2016-08-04 11:52:00
1       2016-01-26 19:30:00
2       2016-06-23 22:20:00
3       2016-06-17 00:01:00
4       2015-09-30 04:12:00
                ...
20095   2016-08-29 02:22:00
20096   2015-10-06 14:57:00
20097   2016-01-02 00:49:00
20098   2015-12-15 19:32:00
20099   2016-05-12 01:43:00
Name: created_at, Length: 20100, dtype: datetime64[ns]

In [9]:
dataset['created_at_hour'] = dataset['created_at'].dt.hour

In [10]:
dataset['created_at_hour']

0        11
1        19
2        22
3         0
4         4
         ..
20095     2
20096    14
20097     0
20098    19
20099     1
Name: created_at_hour, Length: 20100, dtype: int64

In [11]:
dataset['title'] = dataset['title'].str.lower()

In [12]:
dataset['title']

0                                interactive dynamic video
1        how to use open source and shut the fuck up at...
2        florida djs may face felony for april fools' w...
3             technology ventures: from idea to enterprise
4        note by note: the making of steinway l1037 (2007)
                               ...
20095    how purism avoids intels active management tec...
20096            yc application translated and broken down
20097    microkernels are slow and elvis didn't do no d...
20098                        how product hunt really works
20099    robobrowser: your friendly neighborhood web sc...
Name: title, Length: 20100, dtype: object

# Skill Test - 2
- Filter records for Ask HN

In [13]:
ask = dataset['title'].str.startswith('ask hn')

In [14]:
dataset[ask]

,id,title,url,num_points,num_comments,author,created_at,created_at_hour
7,12296411,ask hn: how to improve my personal website?,NaN,2,6,ahmedbaracat,2016-08-16 09:55:00,9
17,10610020,ask hn: am i the only one outraged by twitter ...,NaN,28,29,tkfx,2015-11-22 13:43:00,13
22,11610310,ask hn: aby recent changes to css that broke m...,NaN,1,1,polskibus,2016-05-02 10:14:00,10
30,12210105,ask hn: looking for employee #3 how do i do it?,NaN,1,3,sph130,2016-08-02 14:20:00,14
31,10394168,ask hn: someone offered to buy my browser exte...,NaN,28,17,roykolak,2015-10-15 16:38:00,16
...,...,...,...,...,...,...,...,...
20039,10994357,ask hn: is it feasible to port apple's swift t...,NaN,3,17,schappim,2016-01-29 09:42:00,9
20042,12241954,ask hn: what to do when a developer goes dark?,NaN,3,3,bittysdad,2016-08-07 12:58:00,12
20045,12029526,ask hn: killer app for ar?,NaN,2,2,davidiach,2016-07-04 08:50:00,8
20048,11227969,ask hn: how do you balance a serious relations...,NaN,10,4,audace,2016-03-05 01:25:00,1
20061,11743946,ask hn: why are papers still published as pdfs?,NaN,4,2,adius,2016-05-21 09:22:00,9

# Skill Test - 3
- Filter records show hn

In [15]:
show = dataset['title'].str.startswith('show hn')

In [16]:
dataset[show]

,id,title,url,num_points,num_comments,author,created_at,created_at_hour
13,10627194,show hn: wio link esp8266 based web of things...,https://iot.seeed.cc,26,22,kfihihc,2015-11-25 14:03:00,14
39,10646440,show hn: something pointless i made,http://dn.ht/picklecat/,747,102,dhotson,2015-11-29 22:46:00,22
46,11590768,"show hn: shanhu.io, a programming playground p...",https://shanhu.io,1,1,h8liu,2016-04-28 18:05:00,18
84,12178806,show hn: webscope easy way for web developers...,http://webscopeapp.com,3,3,fastbrick,2016-07-28 07:11:00,7
97,10872799,show hn: geoscreenshot easily test geo-ip bas...,https://www.geoscreenshot.com/,1,9,kpsychwave,2016-01-09 20:45:00,20
...,...,...,...,...,...,...,...,...
19993,11222099,show hn: geocoding api built with government o...,https://latlon.io,6,6,evanmarks,2016-03-04 04:50:00,4
19999,11735438,show hn: decorating: animated pulsed for your ...,https://github.com/ryukinix/decorating,3,1,lerax,2016-05-20 03:48:00,3
20014,10200913,show hn: idea to startup,https://ideatostartup.org,14,17,nikhildaga,2015-09-10 22:17:00,22
20065,11444393,"show hn: phantomjscloud, headless browser saas",https://PhantomJsCloud.com,2,1,novaleaf,2016-04-07 03:04:00,3
20070,12149183,show hn: parse recipe ingredients using javasc...,https://github.com/herkyl/ingredients-parser,6,2,zongitsrinzler,2016-07-23 11:35:00,11

# Skill Test - 4

- Filter records other than ask hn and show hn

# Logical operators for boolean indexing in pandas

- & # and
- ~ # not 
- |  # or

In [17]:
#dataset[~(ask | show)]
dataset[~(ask) & ~(show)]

,id,title,url,num_points,num_comments,author,created_at,created_at_hour
0,12224879,interactive dynamic video,http://www.interactivedynamicvideo.com/,386,52,ne0phyte,2016-08-04 11:52:00,11
1,10975351,how to use open source and shut the fuck up at...,http://hueniverse.com/2016/01/26/how-to-use-op...,39,10,josep2,2016-01-26 19:30:00,19
2,11964716,florida djs may face felony for april fools' w...,http://www.thewire.com/entertainment/2013/04/f...,2,1,vezycash,2016-06-23 22:20:00,22
3,11919867,technology ventures: from idea to enterprise,https://www.amazon.com/Technology-Ventures-Ent...,3,1,hswarna,2016-06-17 00:01:00,0
4,10301696,note by note: the making of steinway l1037 (2007),http://www.nytimes.com/2007/11/07/movies/07ste...,8,2,walterbell,2015-09-30 04:12:00,4
...,...,...,...,...,...,...,...,...
20095,12379592,how purism avoids intels active management tec...,https://puri.sm/philosophy/how-purism-avoids-i...,10,6,AdmiralAsshat,2016-08-29 02:22:00,2
20096,10339284,yc application translated and broken down,https://medium.com/@zreitano/the-yc-applicatio...,4,1,zreitano,2015-10-06 14:57:00,14
20097,10824382,microkernels are slow and elvis didn't do no d...,http://blog.darknedgy.net/technology/2016/01/0...,169,132,vezzy-fnord,2016-01-02 00:49:00,0
20098,10739875,how product hunt really works,https://medium.com/@benjiwheeler/how-product-h...,695,222,brw12,2015-12-15 19:32:00,19
20099,11680777,robobrowser: your friendly neighborhood web sc...,https://github.com/jmcarp/robobrowser,182,58,pmoriarty,2016-05-12 01:43:00,1

In [18]:
dataset[ask].shape

(1744, 8)

In [19]:
dataset[show].shape

(1162, 8)

In [20]:
dataset.shape

(20100, 8)

In [21]:
20100-1162-1744

17194

# Skill Test - 5

Calculate average number of comments 'ask hn' posts recieve

In [22]:
round(dataset[ask]['num_comments'].mean(), 2)

14.04

# Skill Test - 6

Calculate average number of comments 'show hn' posts recieve

In [23]:
round(dataset[show]['num_comments'].mean(), 2)

10.32

# Skill Test -7 
- What is the optimal hour to post, based on your analysis

In [24]:
groupby_hour = dataset.groupby(by = 'created_at_hour')

In [25]:
#groupby_hour.get_group(7)

In [26]:
groupby_hour['num_comments'].mean().sort_values(ascending=False)

created_at_hour
14    29.144222
15    29.018639
13    27.733212
12    27.465872
11    27.118110
2     26.015123
17    25.538913
18    25.188995
9     25.080460
0     25.076040
7     24.755906
10    24.516035
19    24.361572
8     24.328720
3     23.823770
16    23.699693
5     22.715232
23    22.598972
20    22.277831
21    21.992233
4     21.891841
22    21.353143
1     21.198980
6     19.771368
Name: num_comments, dtype: float64

In [27]:
groupby_hour['num_comments'].mean().max()

29.14422241529105

In [28]:
groupby_hour['num_comments'].mean().sort_values(ascending=False).head(1)

created_at_hour
14    29.144222
Name: num_comments, dtype: float64

# Skill Test - 8
- what are the top 5 recommended hours to post for 'ask hn' based on your analysis

In [29]:
groupby_ask = dataset[ask].groupby('created_at_hour')

In [30]:
groupby_ask['num_comments'].mean().sort_values(ascending=False).head()

created_at_hour
15    38.594828
2     23.810345
20    21.525000
16    16.796296
21    16.009174
Name: num_comments, dtype: float64

# Skill Test - 9
- what are the top 5 recommended hours to post for 'show hn' based on your analysis

In [31]:
groupby_show = dataset[show].groupby('created_at_hour')

In [32]:
groupby_show['num_comments'].mean().sort_values(ascending=False).head()

created_at_hour
18    15.770492
0     15.709677
14    13.441860
23    12.416667
22    12.391304
Name: num_comments, dtype: float64

# pivot table

In [33]:
avgby_hour = dataset[ask].pivot_table(values = 'num_comments', index='created_at_hour', aggfunc='mean')

In [34]:
max(groupby_hour['num_comments'].mean())

29.14422241529105

In [35]:
avgby_hour.sort_values('num_comments', ascending=False).head()

                 num_comments
created_at_hour
15                  38.594828
2                   23.810345
20                  21.525000
16                  16.796296
21                  16.009174