# Comparision Operators

- == equal to
- != not equal to
- > gretare then
- < less then
- >= greater then equals to
- <= less then equal to

In [3]:
age = 18

In [4]:
age == 18

True

In [5]:
age != 19

True

In [6]:
age > 18

False

In [7]:
age < 18

False

# if-else statement

# syntax:
    if condition:
        statement
    else:
        statement

In [8]:
age = 20
if age >= 18:
    print("Eligible to vote")
else:
    print("not Eligible to vote")

Eligible to vote

# Import the students_data_updated file:

In [9]:
import csv

In [10]:
dataset = list(csv.reader(open('students_data_updated.csv')))

In [11]:
dataset

[['Roll No.',
  'Name',
  'Chemistry',
  'Physics',
  'Maths',
  'Obtain Marks',
  'Percentage'],
 ['101', 'Aliza', '45', '99', '88', '232', '77.33'],
 ['102', 'Soban', '50', '97', '87', '234', '78.0'],
 ['103', 'Noman', '43', '94', '89', '226', '75.33'],
 ['104', 'Bilal', '42', '87', '85', '214', '71.33'],
 ['105', 'Saim', '39', '76', '76', '191', '63.67'],
 ['106', 'Shameer', '38', '58', '75', '171', '57.0'],
 ['107', 'Zainab', '47', '92', '78', '217', '72.33'],
 ['108', 'Umer', '46', '86', '73', '205', '68.33'],
 ['109', 'Umair', '35', '83', '89', '207', '69.0'],
 ['110', 'Fizzah', '36', '81', '97', '214', '71.33'],
 ['111', 'Zahra', '49', '90', '94', '233', '77.67'],
 ['112', 'Fatima', '45', '88', '99', '232', '77.33'],
 ['113', 'Tooba', '43', '80', '93', '216', '72.0'],
 ['114', 'Saad', '42', '90', '77', '209', '69.67'],
 ['115', 'Azher', '41', '93', '98', '232', '77.33'],
 ['116', 'Danial', '34', '82', '87', '203', '67.67'],
 ['117', 'kaiser', '45', '91', '86', '222', '74.0'],
 ['118', 'Jibran', '46', '77', '78', '201', '67.0'],
 ['119', 'Maria', '43', '69', '94', '206', '68.67'],
 ['120', 'Amna', '38', '89', '91', '218', '72.67'],
 ['121', 'Noreen', '37', '98', '90', '225', '75.0']]

In [12]:
header = dataset[0]
data = dataset[1:]

# Skill Test
- append satisfy if per > 70
- append unsatisfactory if per < 70

In [13]:
dataset[0].append("Remarks")

In [14]:
dataset[0]

['Roll No.',
 'Name',
 'Chemistry',
 'Physics',
 'Maths',
 'Obtain Marks',
 'Percentage',
 'Remarks']

In [15]:
for i in data:
    if float(i[-1]) > 70:
        i.append('satisfactory')
    else:
        i.append('unsatisfactory')

In [16]:
data

[['101', 'Aliza', '45', '99', '88', '232', '77.33', 'satisfactory'],
 ['102', 'Soban', '50', '97', '87', '234', '78.0', 'satisfactory'],
 ['103', 'Noman', '43', '94', '89', '226', '75.33', 'satisfactory'],
 ['104', 'Bilal', '42', '87', '85', '214', '71.33', 'satisfactory'],
 ['105', 'Saim', '39', '76', '76', '191', '63.67', 'unsatisfactory'],
 ['106', 'Shameer', '38', '58', '75', '171', '57.0', 'unsatisfactory'],
 ['107', 'Zainab', '47', '92', '78', '217', '72.33', 'satisfactory'],
 ['108', 'Umer', '46', '86', '73', '205', '68.33', 'unsatisfactory'],
 ['109', 'Umair', '35', '83', '89', '207', '69.0', 'unsatisfactory'],
 ['110', 'Fizzah', '36', '81', '97', '214', '71.33', 'satisfactory'],
 ['111', 'Zahra', '49', '90', '94', '233', '77.67', 'satisfactory'],
 ['112', 'Fatima', '45', '88', '99', '232', '77.33', 'satisfactory'],
 ['113', 'Tooba', '43', '80', '93', '216', '72.0', 'satisfactory'],
 ['114', 'Saad', '42', '90', '77', '209', '69.67', 'unsatisfactory'],
 ['115', 'Azher', '41', '93', '98', '232', '77.33', 'satisfactory'],
 ['116', 'Danial', '34', '82', '87', '203', '67.67', 'unsatisfactory'],
 ['117', 'kaiser', '45', '91', '86', '222', '74.0', 'satisfactory'],
 ['118', 'Jibran', '46', '77', '78', '201', '67.0', 'unsatisfactory'],
 ['119', 'Maria', '43', '69', '94', '206', '68.67', 'unsatisfactory'],
 ['120', 'Amna', '38', '89', '91', '218', '72.67', 'satisfactory'],
 ['121', 'Noreen', '37', '98', '90', '225', '75.0', 'satisfactory']]

# if_elif statement

syntax:
    if condition:
        statement
    elif condition:
        statement
    elif condition:
        statement
    else: #(optional)
        statement

In [68]:
age = int(input('enter any number: '))
if 0 < age < 13:
    print('child')
elif 13 <= age < 18:
    print('teenager')
elif 18 <= age < 50:
    print('adult')
else:
    print('senior citizen')

enter any number: 2
child

# Skill Test

Grades
- per >= 90 -> A+
- per >= 80 -> A
- per >= 70 -> B
- per >= 60 -> C
- per >= 50 -> D
- per < 50 -> F

In [17]:
header.insert(7, 'Grades')

In [18]:
header

['Roll No.',
 'Name',
 'Chemistry',
 'Physics',
 'Maths',
 'Obtain Marks',
 'Percentage',
 'Grades',
 'Remarks']

In [19]:
for i in data:
    per = float(i[6])
    if 90 <= per <= 100:
        i.insert(7, 'A+')
    elif 80 <= per < 90:
        i.insert(7, 'A')
    elif 70 <= per < 80:
        i.insert(7, 'B')
    elif 60 <= per < 70:
        i.insert(7, 'C')
    elif 50 <= per < 60:
        i.insert(7, 'D')
    else:
        i.insert(7, 'Fail')

In [20]:
data

[['101', 'Aliza', '45', '99', '88', '232', '77.33', 'B', 'satisfactory'],
 ['102', 'Soban', '50', '97', '87', '234', '78.0', 'B', 'satisfactory'],
 ['103', 'Noman', '43', '94', '89', '226', '75.33', 'B', 'satisfactory'],
 ['104', 'Bilal', '42', '87', '85', '214', '71.33', 'B', 'satisfactory'],
 ['105', 'Saim', '39', '76', '76', '191', '63.67', 'C', 'unsatisfactory'],
 ['106', 'Shameer', '38', '58', '75', '171', '57.0', 'D', 'unsatisfactory'],
 ['107', 'Zainab', '47', '92', '78', '217', '72.33', 'B', 'satisfactory'],
 ['108', 'Umer', '46', '86', '73', '205', '68.33', 'C', 'unsatisfactory'],
 ['109', 'Umair', '35', '83', '89', '207', '69.0', 'C', 'unsatisfactory'],
 ['110', 'Fizzah', '36', '81', '97', '214', '71.33', 'B', 'satisfactory'],
 ['111', 'Zahra', '49', '90', '94', '233', '77.67', 'B', 'satisfactory'],
 ['112', 'Fatima', '45', '88', '99', '232', '77.33', 'B', 'satisfactory'],
 ['113', 'Tooba', '43', '80', '93', '216', '72.0', 'B', 'satisfactory'],
 ['114', 'Saad', '42', '90', '77', '209', '69.67', 'C', 'unsatisfactory'],
 ['115', 'Azher', '41', '93', '98', '232', '77.33', 'B', 'satisfactory'],
 ['116', 'Danial', '34', '82', '87', '203', '67.67', 'C', 'unsatisfactory'],
 ['117', 'kaiser', '45', '91', '86', '222', '74.0', 'B', 'satisfactory'],
 ['118', 'Jibran', '46', '77', '78', '201', '67.0', 'C', 'unsatisfactory'],
 ['119', 'Maria', '43', '69', '94', '206', '68.67', 'C', 'unsatisfactory'],
 ['120', 'Amna', '38', '89', '91', '218', '72.67', 'B', 'satisfactory'],
 ['121', 'Noreen', '37', '98', '90', '225', '75.0', 'B', 'satisfactory']]

# Logical Operators

- or (if single True so True)
- and (if all True so True)
- not

In [24]:
for i in data:
    if not i[-1] == 'satisfactory':
        print(i[1])

Saim
Shameer
Umer
Umair
Saad
Danial
Jibran
Maria

In [22]:
for i in data:
    if i[-1] == 'satisfactory' or i[-2] == 'D':
        print(i[1])

Aliza
Soban
Noman
Bilal
Shameer
Zainab
Fizzah
Zahra
Fatima
Tooba
Azher
kaiser
Amna
Noreen

In [26]:
for i in data:
    if i[-1] == 'unsatisfactory' and i[-2] == 'D':
        print(i[1])

Shameer

# Dictionary

In [27]:
emp_name = 'asad'
emp_age = 20
emp_salary = 30000.0

In [28]:
emp = [emp_name, emp_age, emp_salary]

In [29]:
emp

['asad', 20, 30000.0]

In [30]:
type(emp)

list

In [36]:
#key:value
emp_dict = {'emp_name':'asad', 'emp_age':22, 'emp_salary':30000.0}

In [37]:
emp_dict

{'emp_name': 'asad', 'emp_age': 22, 'emp_salary': 30000.0}

In [38]:
type(emp_dict)

dict

In [39]:
emp_dict['emp_salary']

30000.0

In [42]:
emp_dict.keys()

dict_keys(['emp_name', 'emp_age', 'emp_salary'])

In [44]:
emp_dict.values()

dict_values(['asad', 22, 30000.0])

# Membership Operator - in

In [45]:
'emp_salary' in emp_dict

True

In [46]:
'emp_address' in emp_dict

False

In [47]:
emp_dict['emp_address'] = 'Gulshan'

In [48]:
emp_dict

{'emp_name': 'asad',
 'emp_age': 22,
 'emp_salary': 30000.0,
 'emp_address': 'Gulshan'}

In [49]:
emp_dict['emp_name'] = 'Ali'

In [50]:
emp_dict

{'emp_name': 'Ali',
 'emp_age': 22,
 'emp_salary': 30000.0,
 'emp_address': 'Gulshan'}

In [51]:
emp_dict['emp_no'] = ['0321-1234567', '0321-9876543']

In [52]:
emp_dict

{'emp_name': 'Ali',
 'emp_age': 22,
 'emp_salary': 30000.0,
 'emp_address': 'Gulshan',
 'emp_no': ['0321-1234567', '0321-9876543']}

In [57]:
emp_dict['emp_no'][1]

'0321-9876543'