In [1]:
import sqlite3 as sql
import pandas as pd

In [2]:
database2 = 'SaleCo.db'
conn2 = sql.connect(database2)

In [3]:
def read_query(q):
    return pd.read_sql_query(q, conn2)

In [4]:
read_query('''select * from sqlite_master where type == "table"''')

Empty DataFrame
Columns: [type, name, tbl_name, rootpage, sql]
Index: []