# Generating frequency table using Dictionary

In [1]:
from csv import reader

In [2]:
fruits = ['banana', 'orange', 'kiwi', 'apple', 'banana', 'orange', 'peach', 'kiwi', 'orange', 'peach', 'kiwi', 'apple', 'banana', 'peach', 'kiwi', 'apple', 'banana', 'kiwi']

In [3]:
freq = {}
for i in fruits:
    if i not in freq:
        freq[i] = 1
    else:
        freq[i] += 1

In [4]:
freq

{'banana': 4, 'orange': 3, 'kiwi': 5, 'apple': 3, 'peach': 3}

In [5]:
freq.items()

dict_items([('banana', 4), ('orange', 3), ('kiwi', 5), ('apple', 3), ('peach', 3)])

# str.format() method

In [6]:
'saad is a Data Scientist'

'saad is a Data Scientist'

In [7]:
dataset = list(reader(open('students_data_updated.csv', encoding = 'utf-8')))

In [8]:
name = 'saad'
per = '80.0'
salary = 100000
print('{} is a Data Scientist and achieve {} grade in their exams. their salary is {:,} '.format(name, per, salary))

saad is a Data Scientist and achieve 80.0 grade in their exams. their salary is 100,000

In [9]:
print('{} is a Data Scientist and achieve {} grade in their exams. their salary is {:,.1f} '.format(name, per, salary))

saad is a Data Scientist and achieve 80.0 grade in their exams. their salary is 100,000.0

In [10]:
print('{} is a Data Scientist and achieve {} grade in their exams. their salary is {:.1f} '.format(name, per, salary))

saad is a Data Scientist and achieve 80.0 grade in their exams. their salary is 100000.0

# Functions

def fun_name():
    statements
    return value

In [11]:
def output():
    return 'Hello World'

In [12]:
x = output()

In [13]:
print(x)

Hello World

In [14]:
def add(x, y):
    return x+y

In [15]:
add(12, 15)

27

In [16]:
def calculator(a, b, c):
    return a+b, b-c

In [17]:
ansa, ansb = calculator(5, 7, 3)

In [18]:
ansa

12

In [19]:
ansb

4

In [20]:
calculator(c=5, a=3, b=7)

(10, 2)

In [21]:
def discount(price, rate = 0.15):
    return price * rate

In [22]:
discount(100)

15.0

In [23]:
discount(100, 0.10)

10.0

# Skill Test:

In [24]:
header = dataset[0]
data = dataset[1:]

In [25]:
for i in data:
    per = float(i[6])
    if 90 <= per <= 100:
        i.insert(7, 'A+')
    elif 80 <= per < 90:
        i.insert(7, 'A')
    elif 70 <= per < 80:
        i.insert(7, 'B')
    elif 60 <= per < 70:
        i.insert(7, 'C')
    elif 50 <= per < 60:
        i.insert(7, 'D')
    else:
        i.insert(7, 'Fail')

In [26]:
data

[['101', 'Aliza', '45', '99', '88', '232', '77.33', 'B'],
 ['102', 'Soban', '50', '97', '87', '234', '78.0', 'B'],
 ['103', 'Noman', '43', '94', '89', '226', '75.33', 'B'],
 ['104', 'Bilal', '42', '87', '85', '214', '71.33', 'B'],
 ['105', 'Saim', '39', '76', '76', '191', '63.67', 'C'],
 ['106', 'Shameer', '38', '58', '75', '171', '57.0', 'D'],
 ['107', 'Zainab', '47', '92', '78', '217', '72.33', 'B'],
 ['108', 'Umer', '46', '86', '73', '205', '68.33', 'C'],
 ['109', 'Umair', '35', '83', '89', '207', '69.0', 'C'],
 ['110', 'Fizzah', '36', '81', '97', '214', '71.33', 'B'],
 ['111', 'Zahra', '49', '90', '94', '233', '77.67', 'B'],
 ['112', 'Fatima', '45', '88', '99', '232', '77.33', 'B'],
 ['113', 'Tooba', '43', '80', '93', '216', '72.0', 'B'],
 ['114', 'Saad', '42', '90', '77', '209', '69.67', 'C'],
 ['115', 'Azher', '41', '93', '98', '232', '77.33', 'B'],
 ['116', 'Danial', '34', '82', '87', '203', '67.67', 'C'],
 ['117', 'kaiser', '45', '91', '86', '222', '74.0', 'B'],
 ['118', 'Jibran', '46', '77', '78', '201', '67.0', 'C'],
 ['119', 'Maria', '43', '69', '94', '206', '68.67', 'C'],
 ['120', 'Amna', '38', '89', '91', '218', '72.67', 'B'],
 ['121', 'Noreen', '37', '98', '90', '225', '75.0', 'B']]

In [29]:
def grades():
    freq = {}
    for i in data:
        if i[7] not in freq:
            freq[i[7]] = 1
        else:
            freq[i[7]] += 1
    return freq

In [30]:
grades()

{'B': 13, 'C': 7, 'D': 1}

In [33]:
header

['Roll No.',
 'Name',
 'Chemistry',
 'Physics',
 'Maths',
 'Obtain Marks',
 'Percentage',
 'Grades']