# Woking On Dataset:

In [6]:
#import library
import csv

In [7]:
csv_file = 'students_data.csv'

In [8]:
opened_file = open(csv_file, encoding='UTF-8') #UTF-8, Latin-1, Windows-1251

#ASCII
# A -> 65 -> 010101

In [9]:
read_file = csv.reader(opened_file)

In [10]:
read_file

In [11]:
dataset = list(read_file)

In [12]:
#or we can also write as:
#data_set = list(csv.reader(open(csv_file, encoding='UTF-8')))

In [13]:
dataset

[['Roll No.', 'Name', 'Chemistry', 'Physics', 'Maths'],
 ['101', 'Aliza', '45', '99', '88'],
 ['102', 'Soban', '50', '97', '87'],
 ['103', 'Noman', '43', '94', '89'],
 ['104', 'Bilal', '42', '87', '85'],
 ['105', 'Saim', '39', '76', '76'],
 ['106', 'Shameer', '38', '58', '75'],
 ['107', 'Zainab', '47', '92', '78'],
 ['108', 'Umer', '46', '86', '73'],
 ['109', 'Umair', '35', '83', '89'],
 ['110', 'Fizzah', '36', '81', '97'],
 ['111', 'Zahra', '49', '90', '94'],
 ['112', 'Fatima', '45', '88', '99'],
 ['113', 'Tooba', '43', '80', '93'],
 ['114', 'Saad', '42', '90', '77'],
 ['115', 'Azher', '41', '93', '98'],
 ['116', 'Danial', '34', '82', '87'],
 ['117', 'kaiser', '45', '91', '86'],
 ['118', 'Jibran', '46', '77', '78'],
 ['119', 'Maria', '43', '69', '94'],
 ['120', 'Amna', '38', '89', '91'],
 ['121', 'Noreen', '37', '98', '90']]

# Skill Test:
- Calculate and append Obt_Marks and Percentage in each record.

- 300 total marks
- What is percentage?

In [14]:
dataset[0].append('Obtain Marks')

In [15]:
dataset[0].append('Percentage')

In [16]:
dataset

[['Roll No.',
  'Name',
  'Chemistry',
  'Physics',
  'Maths',
  'Obtain Marks',
  'Percentage'],
 ['101', 'Aliza', '45', '99', '88'],
 ['102', 'Soban', '50', '97', '87'],
 ['103', 'Noman', '43', '94', '89'],
 ['104', 'Bilal', '42', '87', '85'],
 ['105', 'Saim', '39', '76', '76'],
 ['106', 'Shameer', '38', '58', '75'],
 ['107', 'Zainab', '47', '92', '78'],
 ['108', 'Umer', '46', '86', '73'],
 ['109', 'Umair', '35', '83', '89'],
 ['110', 'Fizzah', '36', '81', '97'],
 ['111', 'Zahra', '49', '90', '94'],
 ['112', 'Fatima', '45', '88', '99'],
 ['113', 'Tooba', '43', '80', '93'],
 ['114', 'Saad', '42', '90', '77'],
 ['115', 'Azher', '41', '93', '98'],
 ['116', 'Danial', '34', '82', '87'],
 ['117', 'kaiser', '45', '91', '86'],
 ['118', 'Jibran', '46', '77', '78'],
 ['119', 'Maria', '43', '69', '94'],
 ['120', 'Amna', '38', '89', '91'],
 ['121', 'Noreen', '37', '98', '90']]

In [17]:
for i in dataset:
    if i[0] == 'Roll No.':
        continue
    else:
        sum = int(i[2]) + int(i[3]) + int(i[4])
        i.append(sum)
        percentage = round((sum/300)*100, 2)
        i.append(percentage)

In [18]:
# 45+99+88 = 232

In [19]:
# (232/300)*100 = 77.33333333333

In [20]:
# round(55.55555, 2) = 55.56

In [21]:
dataset

[['Roll No.',
  'Name',
  'Chemistry',
  'Physics',
  'Maths',
  'Obtain Marks',
  'Percentage'],
 ['101', 'Aliza', '45', '99', '88', 232, 77.33],
 ['102', 'Soban', '50', '97', '87', 234, 78.0],
 ['103', 'Noman', '43', '94', '89', 226, 75.33],
 ['104', 'Bilal', '42', '87', '85', 214, 71.33],
 ['105', 'Saim', '39', '76', '76', 191, 63.67],
 ['106', 'Shameer', '38', '58', '75', 171, 57.0],
 ['107', 'Zainab', '47', '92', '78', 217, 72.33],
 ['108', 'Umer', '46', '86', '73', 205, 68.33],
 ['109', 'Umair', '35', '83', '89', 207, 69.0],
 ['110', 'Fizzah', '36', '81', '97', 214, 71.33],
 ['111', 'Zahra', '49', '90', '94', 233, 77.67],
 ['112', 'Fatima', '45', '88', '99', 232, 77.33],
 ['113', 'Tooba', '43', '80', '93', 216, 72.0],
 ['114', 'Saad', '42', '90', '77', 209, 69.67],
 ['115', 'Azher', '41', '93', '98', 232, 77.33],
 ['116', 'Danial', '34', '82', '87', 203, 67.67],
 ['117', 'kaiser', '45', '91', '86', 222, 74.0],
 ['118', 'Jibran', '46', '77', '78', 201, 67.0],
 ['119', 'Maria', '43', '69', '94', 206, 68.67],
 ['120', 'Amna', '38', '89', '91', 218, 72.67],
 ['121', 'Noreen', '37', '98', '90', 225, 75.0]]

In [22]:
header = dataset[0]
data = dataset[1:]

In [23]:
header

['Roll No.',
 'Name',
 'Chemistry',
 'Physics',
 'Maths',
 'Obtain Marks',
 'Percentage']

In [24]:
data

[['101', 'Aliza', '45', '99', '88', 232, 77.33],
 ['102', 'Soban', '50', '97', '87', 234, 78.0],
 ['103', 'Noman', '43', '94', '89', 226, 75.33],
 ['104', 'Bilal', '42', '87', '85', 214, 71.33],
 ['105', 'Saim', '39', '76', '76', 191, 63.67],
 ['106', 'Shameer', '38', '58', '75', 171, 57.0],
 ['107', 'Zainab', '47', '92', '78', 217, 72.33],
 ['108', 'Umer', '46', '86', '73', 205, 68.33],
 ['109', 'Umair', '35', '83', '89', 207, 69.0],
 ['110', 'Fizzah', '36', '81', '97', 214, 71.33],
 ['111', 'Zahra', '49', '90', '94', 233, 77.67],
 ['112', 'Fatima', '45', '88', '99', 232, 77.33],
 ['113', 'Tooba', '43', '80', '93', 216, 72.0],
 ['114', 'Saad', '42', '90', '77', 209, 69.67],
 ['115', 'Azher', '41', '93', '98', 232, 77.33],
 ['116', 'Danial', '34', '82', '87', 203, 67.67],
 ['117', 'kaiser', '45', '91', '86', 222, 74.0],
 ['118', 'Jibran', '46', '77', '78', 201, 67.0],
 ['119', 'Maria', '43', '69', '94', 206, 68.67],
 ['120', 'Amna', '38', '89', '91', 218, 72.67],
 ['121', 'Noreen', '37', '98', '90', 225, 75.0]]

# Skill Test

- Calculate avg for each subject

In [25]:
print(len(dataset))
print(len(data))

22
21

In [26]:
Chemistry = 0
Physics = 0
Maths = 0
counter = len(data)
for i in data:
    Chemistry += int(i[2])
    Physics += int(i[3])
    Maths += int(i[4])
avg_chem = round(Chemistry/counter, 2)
avg_phy = round(Physics/counter, 2)
avg_math = round(Maths/counter, 2)

In [27]:
avg_chem, avg_phy, avg_math

(42.1, 85.71, 86.86)

In [30]:
print(f'Chemistry: Sum = {Chemistry} Avg = {avg_chem} \nPhysics: Sum = {Physics} Avg = {avg_phy} \nMaths: Sum = {Maths} Avg = {avg_math}')

Chemistry: Sum = 884 Avg = 42.1
Physics: Sum = 1800 Avg = 85.71
Maths: Sum = 1824 Avg = 86.86

In [31]:
import pandas as pd
d = pd.DataFrame(dataset)
d.to_csv('students_data_updated.csv', index=False, header=False)