# Lists
- Can be of any length
- Can have more than one datatype
- Can allow duplicates

In [4]:
#variable
a = 5

In [5]:
#list
fruits = ['apple', 'banana', 'orange', 'mango']

In [6]:
name = ['apple', 5, 5.5, True]

In [7]:
type(name)

list

In [8]:
name = ['apple', 5, 5.5, True, 'apple']

In [9]:
len(name)

5

In [10]:
staff = ['Yuann', 'Daniyal', 'Ali', 'Sara', 'Zain']

In [11]:
staff[2]

'Ali'

In [12]:
staff[2:]

['Ali', 'Sara', 'Zain']

In [13]:
staff[:3]

['Yuann', 'Daniyal', 'Ali']

# Exercise:

In [14]:
name = ['Yuann', 'Daniyal', 'Ali', 'Sara', 'Zain']
salary = [10000, 50000, 20000, 35000, 7000]

- Total salary?
- Daniyal, Ali, Zain?

In [15]:
total = salary[0] + salary[1] + salary[2]
print(total)

80000

In [16]:
sum(salary)

122000

# append()

In [17]:
name = ['Yuann', 'Daniyal', 'Ali', 'Sara', 'Zain']

In [18]:
name.append('Muneer')

In [19]:
name

['Yuann', 'Daniyal', 'Ali', 'Sara', 'Zain', 'Muneer']

In [20]:
name[0] = 'Asad'

In [21]:
name

['Asad', 'Daniyal', 'Ali', 'Sara', 'Zain', 'Muneer']

In [22]:
name.append(6)

In [23]:
name

['Asad', 'Daniyal', 'Ali', 'Sara', 'Zain', 'Muneer', 6]

In [24]:
name[1:3] = [5000, 6000]

In [25]:
name

['Asad', 5000, 6000, 'Sara', 'Zain', 'Muneer', 6]

# Insert()

In [26]:
name.insert(3, 'Ali')

In [27]:
name

['Asad', 5000, 6000, 'Ali', 'Sara', 'Zain', 'Muneer', 6]

# remove()

In [28]:
name.remove('Zain')

In [29]:
name

['Asad', 5000, 6000, 'Ali', 'Sara', 'Muneer', 6]

# pop()

In [30]:
name.pop(2)

6000

In [31]:
name

['Asad', 5000, 'Ali', 'Sara', 'Muneer', 6]

# sort()

In [32]:
fruits = ['orange', 'mango', 'apple', 'banana']
fruits.sort()

In [33]:
fruits

['apple', 'banana', 'mango', 'orange']

# List of Lists

In [34]:
emp_1 = ['Muhammad', 25, 25000, 'Male']
emp_2 = ['Qasim', 22, 50000, 'Male']
emp_3 = ['Aliza', 45000, 'Female']

In [35]:
employees = [emp_1, emp_2, emp_3]

In [36]:
employees

[['Muhammad', 25, 25000, 'Male'],
 ['Qasim', 22, 50000, 'Male'],
 ['Aliza', 45000, 'Female']]

In [37]:
employees[0][3]

'Male'

In [38]:
employees[1]

['Qasim', 22, 50000, 'Male']

In [39]:
employees[1][2]

50000

# Exercise:

In [40]:
emp_1 = ['Muhammad', 25, 25000, 'Male']
emp_2 = ['Qasim', 22, 50000, 'Male']
emp_3 = ['Aliza', 45000, 'Female']
emp_4 = ['Hafsa', 35000, 'Female']

In [41]:
employees = [emp_1, emp_2, emp_3, emp_4]

In [42]:
employees

[['Muhammad', 25, 25000, 'Male'],
 ['Qasim', 22, 50000, 'Male'],
 ['Aliza', 45000, 'Female'],
 ['Hafsa', 35000, 'Female']]

- Q:find the total of employee salary.
- Q:find out the avg salary.

In [43]:
total_salary = employees[0][2] + employees[1][2] + employees[2][1] + employees[3][1]

In [44]:
print(total_salary)

155000

In [45]:
length = len(employees)

In [46]:
avg = total_salary/length

In [47]:
avg

38750.0

# For Loops
- For loop is used for iteration over a sequence.
- A set of statement/code is performed for each iteration.

In [48]:
employees

[['Muhammad', 25, 25000, 'Male'],
 ['Qasim', 22, 50000, 'Male'],
 ['Aliza', 45000, 'Female'],
 ['Hafsa', 35000, 'Female']]

In [49]:
for i in employees: #refers to item
    print(i) #indentation

['Muhammad', 25, 25000, 'Male']
['Qasim', 22, 50000, 'Male']
['Aliza', 45000, 'Female']
['Hafsa', 35000, 'Female']

In [50]:
for emp in employees:
    print(emp[0])

Muhammad
Qasim
Aliza
Hafsa

# Exercise:

- use the employee list to create a new list 'names' and store all the employee name.

In [51]:
names = []
for j in employees:
    names.append(j[0])
print(names)

['Muhammad', 'Qasim', 'Aliza', 'Hafsa']

In [52]:
names

['Muhammad', 'Qasim', 'Aliza', 'Hafsa']

# range()

- It returns a sequence of numbers, generally starting from 0 and increment by 1(default), and stops one value before
the specified number

range(#start, #stop, #step)

In [53]:
range(1)

range(0, 1)

In [54]:
range(10)

range(0, 10)

In [55]:
for i in range(4):
    print(i)

0
1
2
3

In [56]:
for i in range(5, 15):
    print(i)

5
6
7
8
9
10
11
12
13
14

In [57]:
for i in range(5, 15, 2):
    print(i)

5
7
9
11
13

In [58]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [59]:
for i in range(4, 41, 4):
    print(i)

4
8
12
16
20
24
28
32
36
40

# Exercise:

- Extract salary from emp using for loop and range.
- fing out the total salary and avg salary

In [60]:
employees

[['Muhammad', 25, 25000, 'Male'],
 ['Qasim', 22, 50000, 'Male'],
 ['Aliza', 45000, 'Female'],
 ['Hafsa', 35000, 'Female']]

In [61]:
length = len(employees)
print(length)

4

In [62]:
lst = []
total = 0
avg = 0
for i in range(len(employees)):
    lst.append(employees[i][-2])
    total += employees[i][-2]  
print(lst)
print(total)
avg = total/len(employees)
print(avg)

[25000, 50000, 45000, 35000]
155000
38750.0